.invitation {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    position:relative;
    box-sizing: border-box;
    color: #fff;
    z-index: 1;
    padding: 40px 120px;
    background: url(../../images/fon_pyatna.jpg) center no-repeat;
    background-size: cover;
}