.cards__paragraph {
    display: inline-block;
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

@media all and (max-width: 1500px)  {
    .cards__paragraph{
        font-size: 20px;
        line-height: 32px;
    }
}
@media all and (max-width: 700px)  {
    .cards__paragraph{
        font-size: 20px;
        line-height: 24px;
    }
}

@media all and (max-width: 600px)  {
    .cards__paragraph{
        max-width: 100%;
        font-size: 14px;
        line-height: 21px;
    }
}