.block_link {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: min-content min-content;
    column-gap: 0px;
    row-gap: 10px;
    grid-template-areas:
  "tel tel tel"
  "tg ws email";
}

@media all and (max-width: 1200px)  {
  .block_link {
    row-gap: 5px;
  }
}

@media all and (max-width: 500px)  {
  .block_link {
    grid-template-columns: max-content max-content max-content max-content;
    grid-template-rows: min-content;
    column-gap: 10px;
    grid-template-areas:
  "tel tg ws email";
  }
}