.benefits {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    justify-content: end;
    background: #c3deea center no-repeat;
    background-image: url(../../images/AdobeStock_440578839.png);
    background-size: cover;
    padding: 40px 120px 40px;
    box-sizing: border-box;
}
@media all and (max-width: 1500px)  {
    .benefits {
        padding: 40px 90px;
    }
}
@media all and (max-width: 1200px)  {
    .benefits {
        padding: 40px 60px;
    }
}
@media all and (max-width: 800px)  {
    .benefits {
        padding: 40px;
    }
}

@media all and (max-width: 500px)  {
    .benefits {
        padding: 20px;
        height: 95vh;
        align-content: center;
    }
}
@media all and (max-width: 400px)  {
    .benefits {
        height: auto !important;
        align-content: center;
    }
}