.popup__form {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 470px;
    z-index: 10;
    align-self: center;
    justify-self: center;
}

@media all and (max-width: 640px) {
    .popup__form {
        width: 283px;
        padding: 20px;
    }
}