.footer__column-logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}
@media all and (max-width: 500px)  {
    .footer__column-logo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}