.how {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    padding: 40px 120px;
    color: #fff;
    box-sizing: border-box;
    background: #c3deea center no-repeat;
    background-image: url(../../images/AdobeStock_433705117.png);
    background-size: cover;
}


@media all and (max-width: 1500px)  {
    .how {
        background-position-x: 0px;
        padding: 40px 90px;
    }
}
@media all and (max-width: 1200px)  {
    .how {
        padding: 40px 60px;
    }
}
@media all and (max-width: 800px)  {
    .how {
        padding: 40px;
    }
}

@media all and (max-width: 500px)  {
    .how {
        padding: 20px;
    }
}