.popup__close {
    position: absolute;
    right: -40px;
    top: -40px;
    margin: auto;
    width: 32px;
    height: 32px;
    z-index: 10;
    background: url(../../../images/Close.svg) center no-repeat;
    background-size: contain;
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media all and (max-width: 640px) {
    .popup__close {
        right: 0px;
        top: -25px;
        width: 20px;
        height: 20px;
    }
}