.blockchain__title {
    margin-block-start: 25px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 56px;
    line-height: 75px;
    max-width: 1252px;
}

@media all and (max-width: 1500px)  {
    .blockchain__title {
        line-height: 65px;
        max-width: 828px;
        font-size: 40px;
        line-height: 49px;
    }
}
@media all and (max-width: 900px)  {
    .blockchain__title {
        font-size: 30px;
        line-height: 45px;
    }
}

@media all and (max-width: 500px)  {
    .blockchain__title {
        font-size: 20px;
        line-height: 24px;
        max-width: 100%;
    }
}