.footer__paragraph {
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
}

@media all and (max-width: 950px)  {
    .footer__paragraph  {
    }
}
@media all and (max-width: 500px)  {
    .footer__paragraph  {
    }
}