.blockchain__ul {
    display: inline-block;
    max-width: 654px;
    margin-block-start: 30px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-self: center;
    font-weight: normal;
    font-size: 40px;
    line-height: 32px;
}

@media all and (max-width: 1500px)  {
    .blockchain__ul {
        margin-block-start: 60px;
        font-size: 22px;
        line-height: 30px;
        max-width: 590px;
    }
}

@media all and (max-width: 1200px)  {
    .blockchain__ul {
        font-size: 20px;
        line-height: 28px;
        padding-inline-start: -20px;
        padding: 0px 0px 0px 16px;
    }
}
@media all and (max-width: 800px)  {
    .blockchain__ul {
        font-size: 18px;
        line-height: 24px;
        margin-block-start: 30px;
        max-width: 390px;
    }
}

@media all and (max-width: 500px)  {
    .blockchain__ul {
        font-size: 14px;
        line-height: 21px;
        margin-block-start: 10px;
        max-width: 260px;
    }
}