.footer {
    margin-top: -2px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: #021632;
    background-size: cover;
    color: #fff;
    padding: 40px 120px;
    box-sizing: border-box;
}