.footer {
    margin-top: -2px;
    background: #021632;
    background-size: cover;
    color: #fff;
    padding: 40px 120px;
    box-sizing: border-box;
}

@media all and (max-width: 1500px)  {
    .footer {
        padding: 40px 90px;
    }
}

@media all and (max-width: 1200px)  {
    .footer {
        padding: 40px 60px;
    }
}
@media all and (max-width: 800px)  {
    .footer {
        padding: 40px;
    }
}

@media all and (max-width: 500px)  {
    .footer {
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
}