.footer__column-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    padding-left: 30px;
}

@media all and (max-width: 950px)  {
    .footer__column-links {
        padding-left: 0px;
        align-items:center;
        grid-template-rows: 1fr 1fr min-content;
    }   
}

@media all and (max-width: 500px)  {
    .footer__column-links {
        gap: 10px;
        padding-left: 0px;
        margin-top: 20px;
    }   
}