.popup__title {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    color: #006b99;
    text-align: center;
}

@media all and (max-width: 640px) {
    .popup__title  {
        font-size: 18px;
        line-height: 22px;
    }
}